<div class="row">
  <div class="col-2 mb-3 mx-auto">
    <h2>編集画面</h2>
    <%= form_with model: @blog,local: true do |f| %>
      <div class="form-group">
        <%= f.label :画像 %>
        <%= f.attachment_field :image %>
      </div>
      <div class="form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :本文 %>
        <%= f.text_area :body %>
      </div>
      <div class="form-group">
        <%= f.label :カテゴリ %>
        <%= f.text_field :category %>
      </div>
      <div id="blog-evaluation-<%= @blog.id %>"></div>
        <%= render 'blogs/star', blog:@blog %>
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    <% end %>
  </div>
</div>