<div class="row">
  <div class="col-2 mb-3 mx-auto">
  <h2>新規投稿</h2>
  <%= form_with model: @blog,local: true do |f| %>
    <label>画像</label><br />
    <%= f.attachment_field :image %><br />
    <label class="mt-2">タイトル</label><br />
    <%= f.text_field :title %><br />
    <label class="mt-2">本文</label><br />
    <%= f.text_area :body %>
    <%= f.submit "投稿" %>
  <% end %>
  </div>
</div>