<div class="row">
  <div class="col-3 mb-3 mx-auto">
  <h2>新規投稿</h2>
  <% if @blog.errors.any? %>
    <%= @blog.errors.count %>件のエラーが発生しました<br />
    <% @blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <%= form_with model: @blog,local: true do |f| %>
    <div class="form-group">
      <%= f.label :画像 %>
      <%= f.attachment_field :image %>
    </div>
    <div class="form-group">
      <%= f.label :タイトル %><br />
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :本文 %><br />
      <%= f.text_area :body %>
    </div>
    <div id="evaluate_stars">
      <lable>評価</lable>
      <script>
        $('#evaluate_stars').raty({
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,
          scoreName: "blog[evaluation]"
        });
      </script>
    </div>
    <%= f.submit "投稿" %>
  <% end %>
  </div>
</div>