<%= render "blogs/main-visual" %>
<div class="row justify-content-center">
  <div class="col-md-5">
    <h2 class="text-center">blog</h2>
    <div class="d-flex flex-column justify-content-center mx-auto my-4 card bg-light shadow">
      <div class="text-center d-flex flex-row mt-1">
        <%= @blog.title %>
        <p id="favorite_<%= @blog.id %>">
          <%= render "favorites/favorite",blog:@blog %>
        <p id="blog-evaluation-<%= @blog.id %>"></p>
          <%= render 'blogs/star', blog:@blog %>
        <p class="text-right ml-auto mr-1">
          <%= link_to @blog.category, search_path(:model => "category", :method => "perfect", :content => @blog.category ), class:"btn btn-sm btn-secondary" %>
        </p>
        </p>
      </div>
      <div class="mx-auto"><%= attachment_image_tag @blog, :image, style: "max-width:100%; height:auto;" %></div>
      <p><%= @blog.body %></p>
      <div class="d-flex flex-row">
        <div><%= attachment_image_tag @user, :profile_image, :fill,60,60 %></div>
        <div class="col-2">
          <%= link_to user_path(@blog.user_id) do %>
            <%= @blog.user.name %>
          <% end %>
        </div>
        <div class="col-8"><%= @blog.user.introduction %></div>
      </div>
      <p class="text-center"><%= link_to "Back",blogs_path %></p>
      <div class="d-flex flex-row justify-content-center">
        <% if @blog.user_id == current_user.id %>
          <%= link_to "編集",edit_blog_path(@blog.id),class: "btn btn-primary btn-sm mx-2" %>
          <%= link_to "削除",blog_path(@blog),method: :delete,class: "btn btn-danger btn-sm mx-2" %>
        <% end %>
      </div>
    </div>
    <div>
      <p id="comment_count_<%= @blog.id %>">コメント件数: <%= @blog.blog_comments.count %></p>
      <div id="comment_index"><%= render "blog_comments/comment", blog:@blog %></div>
    </div>
    <div>
      <%= form_with model:[@blog,@blog_comment] do |f| %>
        <%= f.text_area :comment %>
        <%= f.submit "投稿",class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <%= render "blogs/sidebar", users:@users, categories:@categories %>
</div>